<h1 class="row">Creatures in the Bog</h1>
<div class="row">
  <% @creatures.each do |creature| %>
    <div class="col-4">
      <div class="card">
        <%= creature.name %> - <small><%= creature.description %></small>
      </div>
    </div>
  <% end %>
</div>


<%= link_to "Add a Creature", new_creature_path, class: "btn btn-primary" %>

