<div class="jumbotron">
  <h1 class="page-header text-center">Creatures in the Bog</h1>
</div>
<div class="row">
  <% @creatures.each do |creature| %>
    <div class="col-4">
      <%= link_to creature_path(creature.id), :action => 'go' do %>
        <div class="card each_creature">
          <div class="card-header"><%= creature.name %></div>
          <div class="card-block"><%= creature.description %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="text-center">
  <%= link_to "Add a Creature", new_creature_path, class: "btn btn-primary" %>
</div>
