<h1 class="row">Creatures in the Bog</h1>
<div class="row">
  <% @creatures.each do |creature| %>
    <div class="col-4">
      <p><%= creature.name %> - <small><%= creature.description %></small></p>
    </div>
  <% end %>
</div>

<button type="button" class="btn btn-primary">Add a Creature</button>


