<div class="jumbotron">
  <h3 class="page-header text-center">Enter New Creature Details</h3>
</div>

<%= render 'form' %>

<div class="text-center">
  <%= link_to "Back to Creatures", creatures_path, class: "btn btn-danger" %>
</div>
